<div class="game-title">
  {{ app.name }}
  <span *ngIf="!running">=(^-.-^)=</span>
  <span *ngIf="running">=(^o.o^)=</span>
  <span style="float: right">Cash: ${{ cash | number:'1.2-2' }}</span>
</div>

<div
  [class.cat-hunting]="cat.hunting"
  class="cat-detail" *ngFor="let cat of cats">
    <div style="height: 50px; display: flex; flex-direction: row">
      <div style="width: 200px;">
        <div>{{ cat.name }} (${{ cat.yield | number:'1.2-2' }})</div>
        <div>Level {{ cat.level }}</div>
      </div>
      <div style="flex: 1; padding-top: 8px;">
        <progress min="0" [max]="cat.duration" [value]="cat.elapsed"></progress>
      </div>
    </div>

    <div>
      <button 
        [disabled]="cat.hunting"
        (click)="hunt(cat)">hunt</button>
      <button
        [disabled]="cash < cat.train_cost"
        (click)="train(cat)">train (${{ cat.train_cost | number:'1.2-2' }})</button>
      <span class="cat-duration">{{ cat.duration - cat.elapsed | number:'1.0-0' }} sec</span>
    </div>
</div>

<button [disabled]="running" (click)="start()">start</button>
<button [disabled]="!running" (click)="stop()">stop</button>

